header {
    background-color: #333;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.menu ul li a:hover {
    background-color: #555;
}


@media (max-width: 768px) {
    .menu ul {
        flex-direction: column;
        text-align: center;
    }
}


footer {
    text-align: center;
}

footer ul {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
        text-align: center;
    }
}
